<!-- 
<h1>Admin Login</h1>

<% 
 
   if(typeof message !== 'undefined'){

    %>
     <h3><%= message %></h3>
    <%

   }


%>

<form action="" method="POST">

    <input type="email" name="email" placeholder="Enter Email">
    <br><br>
    <input type="password" name="password" placeholder="Enter Password">
    <br><br>
    <input type="submit" value="Login">

</form> -->


<%- include('../partials/head.ejs') %>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <!-- Login Form -->
                <div class="card">
                    <div style="background-color: rgba(0, 0, 0, 0.077);" class="card-body">
                        <h1 class="card-title text-center"> Admin Login</h1>
                        <% 
                          if (typeof message !== 'undefined') {
                        %>
                            <div style="height: 30px; padding-top: 4px;" class="alert alert-danger">
                                <h6><%= message %></h6>
                            </div>
                        <%
                          }
                        %>
                        <br>
                        <form action="" method="post">
                            <div class="mb-3">
                                <input type="email" class="form-control" name="email" required placeholder="Enter email">
                            </div>
                            
                            <div class="mb-3">
                                <input type="password" class="form-control" name="password" required placeholder="Enter password">
                            </div>
                            <br>
                            <div class="text-center">
                            <button type="submit" class="btn btn-primary">Login</button>
                          </div>
                        </form>
                       
                    </div>
                </div>
                <!-- End Login Form -->
            </div>
        </div>
    </div>

<%- include('../partials/foot.ejs') %>
